<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.future.association">

    <!-- Required -->
    <permission
        android:name="com.future.association.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.future.association.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".common.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <!-- shareSDK 集成start -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1106345668" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="201b5a1c557db" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="2affd07238057497b18e79bcc3faf999 " />
        <!-- shareSDK 集成end -->

        <activity android:name=".common.view.MainActivity"
            android:screenOrientation="portrait"
            />
        <!-- 登录模块 -->
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".login.FindPwdVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.FindPwdResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.PerfectInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.RegisterSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.WebActivity"
            android:screenOrientation="portrait" />
        <!-- 社区模块 -->
        <activity
            android:name=".community.view.NotifyDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".community.view.SendTieActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.view.AllPlateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.view.TieListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.view.TieDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".community.view.WeiGuiActivity"
            android:screenOrientation="portrait" />
        <!-- 问卷加监督模块 -->
        <activity
            android:name=".questionnaire.views.QuestionnaireWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".questionnaire.views.QuestionnaireEndActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".supervice.view.SuperviceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".supervice.view.SuperviceApplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 我的模块 -->
        <activity android:name=".personal.ui.activity.MyLevelActivity" />
        <activity android:name=".personal.ui.activity.MyResponseActivity" />
        <activity android:name=".personal.ui.activity.MyJianDuActivity" />
        <activity android:name=".personal.ui.activity.MyNoticeActivity" />
        <activity android:name=".personal.ui.activity.MyTieziActivity" />
        <activity android:name=".personal.ui.activity.MyWenJuanActivity" />
        <activity android:name=".personal.ui.activity.MyTongZhiActivity" />
        <activity android:name=".personal.ui.activity.MyMoreActivity" />
        <activity android:name=".personal.ui.activity.AboutUsActivity" />
        <activity android:name=".personal.ui.activity.ChangePwdActivity" />
        <activity android:name=".news.ui.activity.NewsActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.future.association.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <!--<provider-->
            <!--android:name=".supervice.MyProvider"-->
            <!--android:authorities="${applicationId}.provider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/file_paths" />-->
        <!--</provider>-->

        <activity android:name=".personal.ui.activity.TzDetailActivity" />
        <activity android:name=".common.view.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Rich push 核心功能 since 2.0.6-->
        <!--<activity-->
            <!--android:name="cn.jpush.android.ui.PopWinActivity"-->
            <!--android:theme="@style/MyDialogStyle"-->
            <!--android:exported="false">-->
        <!--</activity>-->

        <!--&lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="cn.jpush.android.ui.PushActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:theme="@android:style/Theme.NoTitleBar"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.ui.PushActivity" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="com.future.association" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".login.LoginActivity2"/>
        <activity android:name=".community.view.NotifyListActivity"/>
        <activity android:name=".supervice.view.SuperviceApplySuccessActivity"/>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.PushService"-->
            <!--android:process=":mult"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.REGISTER" />-->
                <!--<action android:name="cn.jpush.android.intent.REPORT" />-->
                <!--<action android:name="cn.jpush.android.intent.PushService" />-->
                <!--<action android:name="cn.jpush.android.intent.PUSH_TIME" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!-- since 3.0.9 Required SDK 核心功能-->
        <!--<provider-->
            <!--android:authorities="com.future.association.DataProvider"-->
            <!--android:name="cn.jpush.android.service.DataProvider"-->
            <!--android:exported="false"-->
            <!--/>-->

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.DaemonService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.DaemonService" />-->
                <!--<category android:name="com.future.association" />-->
            <!--</intent-filter>-->

        <!--</service>-->
        <!-- since 3.1.0 Required SDK 核心功能-->
        <!--<provider-->
            <!--android:authorities="com.future.association.DownloadProvider"-->
            <!--android:name="cn.jpush.android.service.DownloadProvider"-->
            <!--android:exported="true"-->
            <!--/>-->
        <!--&lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="cn.jpush.android.service.PushReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false">-->
            <!--<intent-filter android:priority="1000">-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   &lt;!&ndash;Required  显示通知栏 &ndash;&gt;-->
                <!--<category android:name="com.future.association" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; Optional &ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->

                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!-- Required SDK核心功能-->
        <!--<receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>-->

        <!--&lt;!&ndash; User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调&ndash;&gt;-->
        <!--<receiver android:name=".jpushdemo.MyReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />-->
                <!--<category android:name="com.future.association"></category>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--&lt;!&ndash; Required  . Enable it you can get statistics data with channel &ndash;&gt;-->
        <!--<meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>-->
        <!--<meta-data android:name="JPUSH_APPKEY" android:value="b6b346074e37a63686296f64" /> &lt;!&ndash;  </>值来自开发者平台取得的AppKey&ndash;&gt;-->

    </application>

</manifest>