<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.future.association">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".common.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <!-- shareSDK 集成start -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1106345668" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="201b5a1c557db" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="2affd07238057497b18e79bcc3faf999 " />
        <!-- shareSDK 集成end -->

        <activity android:name=".common.view.MainActivity"
            android:screenOrientation="portrait"
            />
        <!-- 登录模块 -->
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".login.FindPwdVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.FindPwdResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.PerfectInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.RegisterSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.WebActivity"
            android:screenOrientation="portrait" />
        <!-- 社区模块 -->
        <activity
            android:name=".community.view.NotifyDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".community.view.SendTieActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.view.AllPlateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.view.TieListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.view.TieDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".community.view.WeiGuiActivity"
            android:screenOrientation="portrait" />
        <!-- 问卷加监督模块 -->
        <activity
            android:name=".questionnaire.views.QuestionnaireWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".questionnaire.views.QuestionnaireEndActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".supervice.view.SuperviceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".supervice.view.SuperviceApplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 我的模块 -->
        <activity android:name=".personal.ui.activity.MyLevelActivity" />
        <activity android:name=".personal.ui.activity.MyResponseActivity" />
        <activity android:name=".personal.ui.activity.MyJianDuActivity" />
        <activity android:name=".personal.ui.activity.MyNoticeActivity" />
        <activity android:name=".personal.ui.activity.MyTieziActivity" />
        <activity android:name=".personal.ui.activity.MyWenJuanActivity" />
        <activity android:name=".personal.ui.activity.MyTongZhiActivity" />
        <activity android:name=".personal.ui.activity.MyMoreActivity" />
        <activity android:name=".personal.ui.activity.AboutUsActivity" />
        <activity android:name=".personal.ui.activity.ChangePwdActivity" />
        <activity android:name=".news.ui.activity.NewsActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.future.association.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <provider
            android:name=".supervice.MyProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".personal.ui.activity.TzDetailActivity" />
        <activity android:name=".common.view.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>